// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
article{
	font-size:.9em;
	ul,ol{
		margin-left: 40px;
	}
	h2 {
		color: $header-bg;
		padding-top: 0.8em;
		background: $img-border top left repeat-x;
	}
	h3 {
		font-weight: normal;
	}

}
body{
	box-shadow: 2px 2px 20px 2px #000;
	> header {
		a {
			display:block;
		}
		h1{
			color: #fff;
			text-shadow:29px 25px 18px rgba(0,0,0,.6);
			-webkit-transition: all 1s ease-in-out;
			-moz-transition: all 1s ease-in-out;
			-o-transition: all 1s ease-in-out;
			-ms-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
			-webkit-transform:   perspective(600)   rotateY(0deg);
			-moz-transform:      perspective(600)   rotateY(0deg);
			-o-transform:        perspective(600)   rotateY(0deg);
			-ms-transform:       perspective(600)   rotateY(0deg);
			transform:           perspective(600)   rotateY(0deg);
		}

		&:hover h1{
			text-shadow:-12px 9px 6px rgba(0,0,0, .9),0 0 2px rgba(255,255,0,.4) , 0 0 9px rgba(255,255,255,.7);
			-webkit-transform:   perspective(600)   rotateY(20deg)   scale(1.1);
			-moz-transform:      perspective(600)   rotateY(20deg)   scale(1.1);
			-o-transform:        perspective(600)   rotateY(20deg)   scale(1.1);
			-ms-transform:       perspective(600)   rotateY(20deg)   scale(1.1);
			transform:           perspective(600)   rotateY(20deg)   scale(1.1);
		}
		&:visited h1{
			color: #fff;
		}
	}
}

.main-navigation a{
	-webkit-transition: text-shadow 1s ease-in-out;
	-moz-transition: text-shadow 1s ease-in-out;
	transition: text-shadow 1s ease-in-out;
	&:hover{
		text-shadow: 1px 4px 4px rgba(20,20,20,.4);
	}

}

.meta{
	color:#999;
}

kbd {
	font-family: monospace;
	font-size: 12px;
	padding: 2px 4px;
	white-space: nowrap;
	color: black;
	background: #EEE;
	border-width: 1px 3px 3px 1px;
	border-style: solid;
	border-color: #CCC #AAA #888 #BBB;
}

img.full-width{
	width:100%;
	border: none;
}

.clear{
clear:both}

.interesting-thingys{
	li {
		position: relative;
	}
	strong + small{
		position: absolute;
		left: -999em;
		top: 2em;
		max-width: 35em;
		padding: .5em 1em;
		border: 1px solid #999;
		opacity: 0;
		display: block;
		line-height: 1.4;
		background: #555;
		background: rgba(50,50,50,.90);
		color: #fff;
		-webkit-transition: opacity .25s ease-in-out;
		-moz-transition: opacity .25s ease-in-out;
		-o-transition: opacity .25s ease-in-out;
		-ms-transition: opacity .25s ease-in-out;
		transition: opacity .25s ease-in-out;
		z-index: 1000;
		border:1px solid rgba(10,10,10, .55);
		border-radius: 15px 0;
		box-shadow: 2px 2px 3px 1px rgba(50,50,50,.4);
		font-size:12px;
		font-weight: normal;
	}

	strong:hover + small{
		left: 25%;
        opacity: 1;
        -webkit-filter: blur(0);
		-webkit-animation-duration: .5s;
		-webkit-animation-name: blip;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-iteration-count: 1;
		-moz-animation-duration: .5s;
		-moz-animation-name: blip;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
		animation-duration: .5s;
		animation-name: blip;
	}
}


@-webkit-keyframes blip {
	0% { -webkit-transform: scale(0); opacity:0}
	60% { -webkit-transform: scale(0); opacity:0;-webkit-filter: blur(19px);}
	90% { -webkit-transform: scale(1); opacity:1}
	93% { -webkit-transform: scale(1.1); }
	95% { -webkit-transform: scale(1.05); }
	100% { -webkit-transform: scale(1); -webkit-filter: blur(0); }
}

@-moz-keyframes blip {
	0% { -moz-transform: scale(0); opacity:0}
	60% { -moz-transform: scale(0); opacity:0;-moz-filter: blur(19px);}
	90% { -moz-transform: scale(1); opacity:1}
	93% { -moz-transform: scale(1.1); }
	95% { -moz-transform: scale(1.05); }
	100% { -moz-transform: scale(1); -moz-filter: blur(0); }
}

@keyframes blip {
	0% { transform: scale(0); opacity:0}
	60% { transform: scale(0); opacity:0;filter: blur(19px);}
	90% { transform: scale(1); opacity:1}
	93% { transform: scale(1.1); }
	95% { transform: scale(1.05); }
	100% { transform: scale(1); filter: blur(0); }
}

