// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
article{
  ul,ol{
	  margin-left: 40px;
  }
  h2 {
	color: $header-bg;
    padding-top: 0.8em;
    background: $img-border top left repeat-x;
  }
  h3 {
	  font-weight: normal;
  }

}
body{
   box-shadow: 2px 2px 20px 2px #000;
	> header h1{
		text-shadow:10px 20px 18px rgba(0,0,0,.6)
	}
}

.meta{
    color:#999;
}
