// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
article{
  ul,ol{
	  margin-left: 40px;
  }
  h2 {
	color: $header-bg;
    padding-top: 0.8em;
    background: $img-border top left repeat-x;
  }
  h3 {
	  font-weight: normal;
  }

}
body{
   box-shadow: 2px 2px 20px 2px #000;
	> header h1{
		text-shadow:29px 25px 18px rgba(0,0,0,.6);
		-webkit-transition: text-shadow 1s ease-in-out;
		-moz-transition: text-shadow 1s ease-in-out;
		transition: text-shadow 1s ease-in-out;
		&:hover{
			text-shadow:15px 11px 8px rgba(0,0,0, .9),0 0 2px rgba(255,255,0,.4) , 0 0 9px rgba(255,255,255,.7);
		}
	}
}

.main-navigation a{
	-webkit-transition: text-shadow 1s ease-in-out;
	-moz-transition: text-shadow 1s ease-in-out;
	transition: text-shadow 1s ease-in-out;
	&:hover{
		text-shadow: 1px 4px 4px rgba(20,20,20,.4);
	}

}

.meta{
    color:#999;
}

kbd {
	font-family: monospace;
	font-size: 12px;
	padding: 2px 4px;
	white-space: nowrap;
	color: black;
	background: #EEE;
	border-width: 1px 3px 3px 1px;
	border-style: solid;
	border-color: #CCC #AAA #888 #BBB;
}

